{% extends "services/base_list.html" %}
{% load static %}
{% block title %} Services {% endblock %}

{% block content %}

<!-- Main -->
<section id="main" class="wrapper">
  <div class="inner">
    <div class="features">
      {% for service in services %}
      <a href="{% url 'service_detail' service.slug %}">
        <section style="width: 100%">
          <span class="{{ service.icon_class }}"></span>
          <h3>{{ service.title }}</h3>
          <p>{{ service.description | truncatechars:200 }}</p>
        </section>
      </a>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}